
		<div class="clear" id="banner">
			<!-- CSS Background IMG -->
		</div>

		<div class="main_content">
			<div class="paragraph" id="paragraph_contact">
				<h1>Contact Me</h1>
				<ul id="contact">
					<li>Email: <a href="mailto:tpmccarthy1@gmail.com">tpmccarthy1@gmail.com</a></li>
					<li>Phone: (443) 987-3154</li>
				</ul>
			</div>
		</div>

	
