

		<div class="clear" id="banner">
			<!-- CSS Background IMG -->
		</div>

		<div class="main_content">
			
			<!-- Left column -->
			
			<div class="paragraph" id="left_col">
				<h1>Left:</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet leo rutrum sapien viverra blandit ut vel libero. Ut posuere viverra quam. Aenean cursus risus sit amet ex fringilla, id gravida erat placerat. Suspendisse auctor nunc sit amet metus suscipit varius. Donec bibendum at ante at aliquet. Sed id porta turpis, sed pulvinar sapien. Cras sed risus aliquam, ultricies nisl ac, convallis nisl. Phasellus facilisis ullamcorper leo, id laoreet mauris pharetra eu. Vestibulum eu lectus lobortis diam ultricies placerat et et erat. Vivamus vitae magna ornare nibh tempus laoreet. Vestibulum nec mollis dolor, eget rutrum justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur fringilla egestas eros, sed rutrum enim faucibus nec. Sed vel nisl lorem. Etiam vulputate fermentum molestie. Cras arcu mi, aliquet fermentum mattis nec, tincidunt sit amet velit.</p>
			</div>

			<!-- Right column -->

			<div class="paragraph" id="right_col">
				<h1>Right:</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet leo rutrum sapien viverra blandit ut vel libero. Ut posuere viverra quam. Aenean cursus risus sit amet ex fringilla, id gravida erat placerat. Suspendisse auctor nunc sit amet metus suscipit varius. Donec bibendum at ante at aliquet. Sed id porta turpis, sed pulvinar sapien. Cras sed risus aliquam, ultricies nisl ac, convallis nisl. Phasellus facilisis ullamcorper leo, id laoreet mauris pharetra eu. Vestibulum eu lectus lobortis diam ultricies placerat et et erat. Vivamus vitae magna ornare nibh tempus laoreet. Vestibulum nec mollis dolor, eget rutrum justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur fringilla egestas eros, sed rutrum enim faucibus nec. Sed vel nisl lorem. Etiam vulputate fermentum molestie. Cras arcu mi, aliquet fermentum mattis nec, tincidunt sit amet velit.</p>
			</div>
		</div>

		