

		<!-- Instagram Photos -->
		
			<div class="clear" id="instafeed">
				
				<div id="instafeed">
					
					<!-- Photos load here -->	
				
				</div>

			</div>
				
			<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
			<script type="text/javascript" src="JS/instaslider.js"></script>



 
